@import "tailwindcss";

@theme {
  --font-prata: "Prata", serif;
  --font-plus: "Plus Jakarta Sans", sans-serif;
  --font-unicase: "Cormorant Unicase", serif;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.swiper-pagination-bullet {
  width: 34px !important;
  height: 33px !important;
  text-align: center !important;
  line-height: 30px !important;
  font-size: 54px !important;
  color: #d7d5cc !important;
  opacity: 1 !important;
  background: none !important;
}
.swiper-pagination-bullet-active {
  color: #74642f !important;
  border: 1px solid #d7d5cc !important;
  background: none !important;
}

.container {
  position: relative;
}
.container:before {
  content: "";
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 2;
}
.container:hover:before {
  opacity: 1;
}
.container img {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 1;
}

.btn {
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 60%;
  line-height: 40px;
  cursor: pointer;
  z-index: 3;
  color: red;
}
.container:hover .book-btns {
  opacity: 1;
}

.container:hover .btn {
  opacity: 1;
}
