@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.left {
  width: 50%;
  height: 60vh;
  display: grid;
  background-color: #000000;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.left > img {
  margin-bottom: 80px;
  width: 350px;
  height: 230px;
}

.left > h4 {
  font-size: 15px;
  margin: 20px 30px;
}

.left > button {
  font-size: 20px;
  width: 200px;
  height: 50px;
  border-radius: 16px;
  border: 2px solid white;
  color: white;
  background-color: #000000;
  margin: 30px auto;
  cursor: pointer;
  font-weight: 500;
}

.left > button:hover {
  background-color: white;
  border: 2px solid #000000;
  color: black;
}

.right {
  width: 50%;
  height: 60vh;
  display: grid;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  align-content: center;
  border-right: 0px;
  justify-items: center;
  margin: auto;
}

.right > label {
  font-size: 50px;
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  color: #000000;
  margin-bottom: 30px;
}

.right > label > img {
  width: 90px;
  height: 82px;
}

.right > img {
  width: 90px;
  height: 82px;
}

.right > h1 {
  color: #000000;
  margin: 10px auto 20px auto;
  margin-bottom: 10px;
}

.right > p {
  font-size: 15px;
  margin: 20px auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

form > label {
  display: grid;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
}

.icon {
  border: 1px solid black;
  padding: 11px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: none;
  font-size: 21px;
}

.group-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #747272;
}

.input-name,
.input-mobile,
.input-email,
.input-pass {
  width: 450px;
  margin: 10px auto;
  height: 25px;
  border-left: 0px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 9px 20px;
  background: transparent;
  font-weight: 500;
  color: black;
  cursor: pointer;
}

.select-role {
  width: 490px;
  margin: 10px auto;
  height: 45px;
  border-radius: 7px;
  border: 1px solid black;
  padding: 9px 20px;
  background: transparent;
  font-weight: 500;
  color: black;
  cursor: pointer;
}

.signup-btn {
  width: 200px;
  height: 50px;
  background-color: #000000;
  color: white;
  border-radius: 12px;
  margin: 12px auto;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: white;
  color: #000000;
  font-size: 18px;
  border: 2px solid #000000;
}

header {
  display: flex;
  background-color: #000000;
  color: white;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.home-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
}

.home-logo > img {
  width: 60px;
}

.home-right {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-right: 20px;
}

.home-right > .home-log {
  width: 80px;
  height: 40px;
  background-color: #000000;
  color: white;
  border-radius: 12px;
  border: 1px solid white;
  margin: 12px auto;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.home-log:hover {
  background-color: white;
  color: #000000;
  font-size: 15px;
}

.home-right > img {
  width: 40px;
  border-radius: 20px;
  height: 40px;
}

.nav-bar {
  display: flex;
  gap: 20px;
}

.nav-bar > a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 500;
}

.nav-bar > a:hover {
  color: #505050;
  border-bottom: 1px solid #505050;
}

main {
  margin: auto;
}

.intro-container {
  margin-top: 25px;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-bottom: 20px;
}

.intro-block {
  width: 600px;
  height: 50vh;
  padding: 20px;
}

.intro-img {
  width: 600px;
}

.intro-container > .intro-img > img {
  height: 500px;
  border-radius: 32px;
  box-shadow: 11px 1px 50px -13px rgba(0, 0, 0, 0.73);
}

.intro-block > h3 {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-weight: 700;
}

.intro-block > p {
  color: #303030;
  display: grid;
  justify-items: center;
  font-size: 18px;
  font-weight: 500;
  width: 550px;
}

.intro-block > button {
  width: 197px;
  height: 61px;
  border-radius: 14px;
  background-color: transparent;
  border: 2px solid #000000;
  color: black;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.fa-arrow-right {
  font-weight: 400;
}

.intro-block > button:hover {
  border-color: #fefefd;
  font-size: 18px;
  background-color: #747272;
  color: white;
}

.category-container {
  width: 950px;
  display: grid;
  margin: 0 auto;
  /* grid-template: auto auto / repeat(3, 1fr); */
  justify-content: center;
  justify-items: center;
  margin-bottom: 20px;
  gap: 16px;
}

.category-container > img {
  width: 350px;
  height: 350px;
  border-radius: 12px;
}

.explore-div {
  width: 1224px;
  display: flex;
  height: 75px;
  border: 1px solid #747272;
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.explore-div > h3 {
  font-size: 35px;
  padding: 10px;
  color: #4c4c81;
  line-height: normal;
}

.explore-div > button {
  width: 110px;
  height: 40px;
  border-radius: 7px;
  border: 0px;
  background-color: #ed553b;
}

.group-img {
  width: 1224px;
  height: 800px;
  display: grid;
  grid-template: auto auto / repeat(3, 1fr);
}

.imgs:hover {
  width: 370px;
  height: 370px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar > input {
  width: 500px;
  height: 50px;
  padding: 20px;
  font-weight: 500;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 7px;
}

.book-card-container {
  width: 320px;
  height: 500px;
  display: grid;
  background-color: white;
  margin: 20px auto;
  /* border: 2px solid #747272; */
  border-radius: 12px;
  justify-items: center;
}

.img-box > img {
  border-radius: 20px;
  margin-top: 10px;
  width: 250px;
}

.book-detail-box > button {
  width: 250px;
  height: 50px;
  border-radius: 15px;
  font-size: 20px;
  margin-top: 25px;
  background-color: orange;
  color: white;
  border: 0px;
}

.book-detail-box > button:hover {
  background-color: orangered;
  font-size: 18px;
}

.status-check {
  color: green;
  font-size: 18px;
  margin-top: 5px;
  line-height: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}

.book-name {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 13px;
}

.book-description {
  font-size: 18px;
  margin-top: 5px;
  line-height: 20px;
  color: grey;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 300px;
}

.filter-Section {
  margin-top: 25px;
  width: 100%;
  /* height: 70vh; */
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-bottom: 20px;
}

.book-card-containers {
  margin-top: 25px;
  grid-template: auto auto / repeat(4, 1fr);
  width: 100%;
  height: 70vh;
  display: grid;
  justify-content: center;
  justify-items: center;
  margin-bottom: 20px;
}

.img-box {
  width: 273px;
  padding-bottom: 10px;
  background-color: grey;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.book-add-container {
  width: 1324px;
  margin: 10px auto;
  position: relative;
}

.book-add-btn {
  width: 150px;
  height: 45px;
  border-radius: 7px;
  border: 2px solid black;
  background-color: transparent;
  color: black;
  font-size: 16px;
  font-weight: 700;
}

.book-add-btn:hover {
  background-color: #817d7d;
  color: white;
  border-color: white;
  font-size: 18px;
}

.form-add-container {
  width: 100%;
  margin: 0 auto;
}

.book-add-form {
  width: 650px;
  height: 625px;
  bottom: -600px;
  left: 325px;
  position: absolute;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  align-items: center;
}

.book-add-form > label {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  margin-bottom: 10px;
}

.book-add-form > label > input {
  width: 600px;
  height: 35px;
  padding: 5px;
  padding-left: 20px;
  border-radius: 7px;
  color: black;
  border: 1px solid #505050;
  background-color: transparent;
  margin-top: 5px;
}

.book-add-form > label > textarea {
  width: 600px;
  height: 35px;
  padding: 5px;
  padding-left: 20px;
  border-radius: 7px;
  color: black;
  border: 1px solid #505050;
  background-color: transparent;
  margin-top: 5px;
}

.book-add-form > label > select {
  width: 625px;
  height: 45px;
  padding: 5px;
  color: black;
  padding-left: 20px;
  border-radius: 7px;
  border: 1px solid #505050;
  background-color: transparent;
  margin-top: 5px;
}

.form-add-btn {
  width: 630px;
  display: flex;
  justify-content: space-between;
  margin: 21px 10px;
}
.form-add-btn > button {
  width: 100px;
  height: 40px;
  border-radius: 7px;
  border: 0px;
}
